/* Global CSS for #app */

* {
    margin: 0;
    padding: 0;
}

#app {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#disabled {
    color: #888;
    pointer-events: none;
}